@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:wght@300;400;500;600;700&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #0c0806;
  color: #f5e6d3;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
}

button {
  cursor: pointer;
}